
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 80%;
}

.nomeCategoria {
  margin: 15px;
  font-size: 2em;
}

.card {
  width: 200px;
  vertical-align: top;
  border: 2px solid #D2D7D3;
  border-radius: 20px;
}

.cardTotal {
  margin: 20px auto;
}

.cardCategoria {
  margin: 20px;
  display: inline-block;
}

.card--titulo {
  padding: 5px;
  font-style: italic;
  border-bottom: 2px solid #D2D7D3;
}

.card--qtd {
  font-family: 'Indie Flower', cursive;
  line-height: 130px;
  font-size: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card--subCategoria {
  color: black;
  text-decoration: none;
}

.linkBotao {
  color: white;
  text-decoration: none;
}

.botao {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: blue;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  display: block;
  color: white;
}

.botao:focus {
  outline: none;
}

.botao[disabled] {
  opacity: 0;
}
